<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Username" value="artomizer" />
    <add key="Password" value="" />
    <add key="CacheDirectory" value="c:\skd\ParticipationTracker\Cache\" />
    <add key="ParticipantsFile" value="c:\skd\ParticipationTracker\Participants.txt" /> <!-- should make this part of the project and have it copy to debug folder. -->
    <add key="BlacklistFile" value="c:\skd\ParticipationTracker\BlackList.txt" /> <!-- should make this part of the project and have it copy to debug folder. -->
    <add key="APIDelay" value="2500" /> <!-- Must be at least 2000 (2 seconds) as per the reddit API rules -->
    <add key="UserAgent" value="flair bot for /r/sketchdaily by /u/artomizer"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
