<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- need to set these to run -->
    <add key="Username" value="artomizer"/>
    <add key="Password" value=""/>
    <add key="CacheDirectory" value="c:\skd\ParticipationTracker\Cache\"/>
    
    <add key="ftpUsername" value="mmkiff"/>
    <add key="ftpPassword" value=""/>
    <add key="ftpPath" value="ftp://ftp.newfrost.com/stats.sketchdaily.net/"/>
    
    <!-- should set these -->
    <add key="UserAgent" value="flair bot for /r/sketchdaily by /u/artomizer"/>
    
    <!-- can leave these -->
    <add key="BlacklistFile" value="Files\BlackList.txt"/>
    <add key="APIDelay" value="2000"/> <!-- Must be at least 2000 (2 seconds) as per the reddit API rules -->    
  </appSettings>
  
  <startup></startup>

</configuration>
